<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add A Panda!</title>
</head>
<body>
  <form action="/pandas" method="post">
    <div id="name">
      <label for="name">Panda Name: </label>
      <input type="text" name="name" id="">
    </div>
    <div id="age">
      <label for="age">Panda Age: </label>
      <input type="number" name="age" id="">
    </div>
    <input type="submit" value="Add a Panda!">
  </form>
  <br>
  <a href="/">go back</a>
</body>
</html>