<html>
	<head>
		<title>Giraffes</title>
	</head>
	<body>
		<div>
			<h3>Edit this giraffe</h3>
			<p>Name: <%= giraffe.name %><p>
			<p>Age: <%= giraffe.age %><p>
		</div>
		<form action='/giraffes/<%= giraffe.id %>' method='post'>
			Name: <input type='text' name='name'>
			Age: <input type='text' name='age'>
			<input type='submit' value='Submit'>
		</form>
		<form action="/" method="get">
			<input type="submit" value="Go back">
		</form>
	</body>
</html>