<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mongoose Intro</title>
	<meta charset="utf-8">
	<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<form action="/<%= puppy._id %>/update" method="post" class="col-lg-6 col-md-8">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Name</label>
		    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name" value="<%= puppy.name %>">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Breed</label>
		    <input type="text" class="form-control" id="breed" aria-describedby="emailHelp" name="breed" value="<%= puppy.breed %>">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Age</label>
		    <input type="number" class="form-control" id="age" aria-describedby="emailHelp" name="age" value="<%= puppy.age %>">
		  </div>
		  <input type="submit" class="btn btn-warning" value="Submit Changes">
		  <a href="/back" class="btn btn-success" style="margin-left: 20px;">Go Back</a>
		</form>
	</div>
</body>
</html>