<!DOCTYPE html>
<html>
	<head>
		<title>New Giraffe</title>
	</head>
	<body>
		<h3>Add giraffe</h3>
		<form action='/giraffes' method='post'>
			Name: <input type='text' name='name'>
			Age: <input type='text' name='age'>
			<input type='submit' value='Submit'>
		</form>

	</body>
</html>