<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is my show view</title>
  </head>
  <body>
    <p>Animal: <%= animals.Animal %></p>
    <a href = "/">Back</a>
  </body>
</html>
