<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is my root file</title>
  </head>
  <body>
    <a href = "/species/new">Create</a>
    <% for(var animal of animals){ %>
        <p>Animal: <%= animal.Animal %></p>
        <a href = "/species/<%= animal._id %>">Show</a>
        <a href = "/species/<%= animal._id %>/edit">Edit</a>
        <form action = "/species/<%= animal._id %>/destroy" method = "post">
          <input type = "submit" value = "delete">
        </form>
        <hr>
    <% } %>
  </body>
</html>
