<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is my create view</title>
  </head>
  <body>
    <form action = "/species" method = "post">
      Animal:
      <input type = "text" name = "Animal"><br>
      <input type = "submit" value = "Submit">
    </form>
    <a href = "/">Back</a>
  </body>
</html>
