<html>
<head>
	<title>Create New</title>
</head>
<body>

<form action='/mongooses' method='POST'>
Animal:<input type='text' name='animal'><br>
Name:<input type='text' name='name'><br>
Age:<input type='text' name='age'><br>
<input type='submit' value='Submit'>
</form>

<hr>
</body>
</html>