<!DOCTYPE html>
<html>
<head>
	<title>Gorilla Dashboard</title>
</head>
<body>
<h1>Gorilla Family</h1>
<form action="/gorillas" method="post">
	<input type="text" name="name">
	<input type="text" name="age">
	<input type="submit" name="submit">
</form>
</body>
</html>