<!DOCTYPE html>
<html>
<head>
	<title>Gorilla View</title>
</head>
<body>
<h1>Gorilla View</h1>
<h1><%= gorilla.name %></h1>
<h2><%= gorilla.age %></h2>
<a href="/"><button>Back</button></a>
</body>
</html>