<!DOCTYPE html>
<html>
<head>
	<title>New Page</title>
</head>
<body>
	<form action="/mongooses" method="post">
		<input type="text" name="name" placeholder="enter name of animals">
		<input type="submit">
	</form>
	<button><a href="/">Back</a></button>
</body>
</html>