<!DOCTYPE html>
<html>
<head>
	<title>Show Mongoose</title>
</head>
<body>
	<h1>Show mongoose</h1>
	<div>Name: <%= mongooses[0].name %></div>
	<button><a href="/">Back to Home</a></button>
</body>
</html>