<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Draon Add</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="age" placeholder="Age">
      <input type="text" name="color" placeholder="Color">
      <input type="submit" value="Add Dragon">
    </form>
  </body>
</html>
